# Created by .ignore support plugin (hsz.mobi)
.gitignore
/springuse/case5_optimized_annotation_develop/log/
/springuse/case4_annotation_develop/log/
/springuse/case3_xml_develop/log/
/springuse/case2_annotation/log/
